@font-face{
    font-family: iranyekanmedium;
    src: url(../fonts/fa/IRANYekanWeb-Medium.eot);
    src: url(../fonts/fa/IRANYekanWeb-Medium.ttf);
    src: url(../fonts/fa/IRANYekanWeb-Medium.woff);
    src: url(../fonts/fa/IRANYekanWeb-Medium.woff2);
    
  }
  
  @font-face{
    font-family: yekan;
  src: url(../fonts/fa/YekanBakhFaNum-Regular.eot);
  src: url(../fonts/fa/YekanBakhFaNum-Regular.woff);
  src: url(../fonts/fa/YekanBakhFaNum-Regular.ttf);
  src: url(../fonts/fa/YekanBakhFaNum-Regular.woff2);
  
  }
  
  
  :root {
    --font-family: iranyekanmedium;
  }
  .swiper-button-next,
 .swiper-button-prev {
  width: 40px !important; 
  height: 40px !important;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: rgb(207, 203, 203,0.5);
  box-shadow: 0px 0px 2px lightgray;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 12px !important;
  font-weight: bold;
  color: black;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.hidden{
  display: none;
}
